@font-face {
  font-family: "iconfont"; /* Project id 3970339 */
  src: url('iconfont.woff2?t=1681060672157') format('woff2'),
       url('iconfont.woff?t=1681060672157') format('woff'),
       url('iconfont.ttf?t=1681060672157') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xianshimima:before {
  content: "\e653";
}

.icon-yincangmima:before {
  content: "\e654";
}

.icon-car:before {
  content: "\e69a";
}

.icon-top:before {
  content: "\e6c4";
}

.icon-Smart:before {
  content: "\e63d";
}

.icon-saoma:before {
  content: "\e749";
}

.icon-oppo:before {
  content: "\e82d";
}

.icon-oneplus:before {
  content: "\e830";
}

.icon-customer:before {
  content: "\e625";
}

.icon-right:before {
  content: "\e65f";
}

.icon-left:before {
  content: "\e660";
}

.icon-add:before {
  content: "\e602";
}

.icon-minus:before {
  content: "\e603";
}

.icon-check:before {
  content: "\e60f";
}

.icon-up:before {
  content: "\eb90";
}

.icon-down:before {
  content: "\eb91";
}

.icon-shopping_cart:before {
  content: "\e600";
}

.icon-search:before {
  content: "\e651";
}

.icon-log_in:before {
  content: "\e611";
}

